In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('/projects/18_property_vtmfid/shared/structured_data.csv')

df.head()

,Unnamed: 0,Address_lookup,GT_Bldg_Class,GT_Style,GT_story,GT_wall,GT_cond,GT_frontage,GT_grade,GT_proximity,GT_basement
0,0,"193 MANHATTAN STREET, Staten Island, New York,...",A2,9.0,1.0,4.0,4,24,C,Detached,3
1,1,"189 MANHATTAN STREET, Staten Island, New York,...",A2,9.0,1.0,4.0,4,24,C,Detached,3
2,2,"181 MANHATTAN STREET, Staten Island, New York,...",A3,4.0,2.0,4.0,2,24,B,Detached,3
3,3,"179 MANHATTAN STREET, Staten Island, New York,...",B2,4.0,2.0,3.0,3,21,B,Detached,3
4,4,"175 MANHATTAN STREET, Staten Island, New York,...",B2,4.0,2.0,3.0,3,30,B,Detached,3

In [ ]:
df.GT_proximity.value_counts()

Prepare the dataframe for Random Forest Classifier

In [3]:
df['GT_basement'].loc[ df['GT_basement'] == 'N'] = 0

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/compute/lib/python2.7/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [4]:
# dropping the one entry with '.' as its value for frontage
df.dropna(inplace=True)
print(df.shape)
df.drop(labels=2754, axis=0, inplace=True)
print(df.shape)

(2774, 11)
(2773, 11)

In [5]:
from sklearn.base import TransformerMixin
from sklearn.preprocessing import StandardScaler

class DummyEncoder(TransformerMixin):
    '''
    Custom scikit-learn transformer for data that converts categorical features with 
    k classes to (k-1) dummy features.
    '''
    def fit(self, X=None, Y=None):
        # Do nothing
        return self
    
    def transform(self, X):
        categories = ['GT_Bldg_Class', 'GT_Style', 'GT_wall','GT_cond', 
                      'GT_grade', 'GT_basement']
        categories = [c for c in categories if c in X.columns.values]
        X = pd.get_dummies(X, drop_first=True, columns=categories)
        return X
    
class CustomScaler(TransformerMixin):
    '''
    Custom scikit-learn transformer for data that standardizes numerical features 
    to be zero mean and unit variance.
    '''
    def fit(self, X=None, Y=None):
        # Do nothing
        # Fit is implemented in transform method instead
        return self
    
    def transform(self, X):                
        numerical = ['GT_story','GT_frontage']
        numerical = [c for c in numerical if c in X.columns.values]
        scaler = StandardScaler().fit(X.loc[:,numerical])
        X.loc[:,numerical] = scaler.transform(X.loc[:,numerical])
        return X

In [ ]:
enc = OneHotEncoder()
df['GT_Bldg_Class'] = enc.fit_transform(df['GT_Bldg_Class'])

In [6]:
scaler = CustomScaler()
df = scaler.fit(df).transform(df)
# Encode categorical features
encoder = DummyEncoder()
df = encoder.fit(df).transform(df)
display(df)

,Unnamed: 0,Address_lookup,GT_story,GT_frontage,GT_proximity,GT_Bldg_Class_A1,GT_Bldg_Class_A2,GT_Bldg_Class_A3,GT_Bldg_Class_A5,GT_Bldg_Class_A6,...,GT_grade_B+,GT_grade_B-,GT_grade_C,GT_grade_C+,GT_grade_C-,GT_grade_D,GT_grade_E,GT_grade_X,GT_basement_2,GT_basement_3
0,0,"193 MANHATTAN STREET, Staten Island, New York,...",-2.220044,-0.325663,Detached,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,1,"189 MANHATTAN STREET, Staten Island, New York,...",-2.220044,-0.325663,Detached,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2,"181 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.325663,Detached,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,"179 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.556764,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,"175 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.136538,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,5,"171 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.136538,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,6,"167 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.633798,Detached,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
7,7,"165 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.633798,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,8,"155 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.521706,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,"149 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.787865,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,10,"145 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.633798,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
11,11,"141 MANHATTAN STREET, Staten Island, New York,...",-1.045899,-0.094563,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12,12,"64 PITTSVILLE AVENUE, Staten Island, New York,...",-1.045899,0.598740,Detached,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
13,13,"148 MANHATTAN STREET, Staten Island, New York,...",-2.220044,-0.325663,Detached,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
14,14,"158 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.017529,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,15,"164 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.675773,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,16,"168 MANHATTAN STREET, Staten Island, New York,...",-2.220044,1.677210,Detached,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
17,17,"178 MANHATTAN STREET, Staten Island, New York,...",0.408639,-0.787865,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,18,"180 MANHATTAN STREET, Staten Island, New York,...",-0.905703,-0.787865,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
19,19,"182 MANHATTAN STREET, Staten Island, New York,...",-0.905703,-0.787865,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
20,20,"190 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.094563,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,21,"198 MANHATTAN STREET, Staten Island, New York,...",-1.045899,-0.479731,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
22,22,"200 MANHATTAN STREET, Staten Island, New York,...",-0.905703,-0.479731,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
23,23,"204 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.213572,Detached,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
24,24,"208 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.598740,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,25,"212 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.521706,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
26,26,"216 MANHATTAN STREET, Staten Island, New York,...",0.846752,-0.479731,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
27,27,"7167 HYLAN BOULEVARD, Staten Island, New York,...",-0.467589,-0.402697,Detached,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
28,28,"235 BRIGHTON STREET, Staten Island, New York, ...",-0.467589,0.136538,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
29,29,"231 BRIGHTON STREET, Staten Island, New York, ...",-0.467589,-0.941932,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2744,2744,"35 WEINER STREET, Staten Island, New York, 10309",-0.467589,-0.171596,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2745,2745,"39 WEINER STREET, Staten Island, New York, 10309",-0.467589,-0.171596,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2746,2746,"45 WEINER STREET, Staten Island, New York, 10309",-0.467589,-0.171596,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2747,2747,"49 WEINER STREET, Staten Island, New York, 10309",-0.467589,-0.171596,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2748,2748,"44 BUTLER STREET, Staten Island, New York, 10309",-0.467589,1.908311,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2749,2749,"365 COLE STREET, Staten Island, New York, 10309",-0.467589,2.062378,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2750,2750,"38 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.367639,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2751,2751,"32 WEINER STREET, Staten Island, New York, 10309",-0.467589,-0.017529,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2752,2752,"11 RICHMOND PLACE, Staten Island, New York, 10309",-0.467589,0.906874,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2753,2753,"345 COLE STREET, Staten Island, New York, 10309",0.408639,-0.325663,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2755,2755,"132 MEADE LOOP, Staten Island, New York, 10309",-0.467589,-0.248630,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2756,2756,"59 WEINER STREET, Staten Island, New York, 10309",-0.467589,2.832714,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2757,2757,"61 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.906874,Detached,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2758,2758,"73 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.906874,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2759,2759,"79 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.136538,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2760,2760,"85 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.136538,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2761,2761,"93 WEINER STREET, Staten Island, New York, 10309",-0.467589,3.988217,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2762,2762,"101 WEINER STREET, Staten Island, New York, 10309",-0.467589,3.217881,Detached,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2763,2763,"111 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.906874,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2764,2764,"117 WEINER STREET, Staten Island, New York, 10309",-0.467589,-0.017529,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2765,2765,"123 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.290605,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2766,2766,"129 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.906874,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2767,2767,"139 WEINER STREET, Staten Island, New York, 10309",-0.467589,0.598740,Detached,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2768,2768,"145 WEINER STREET, Staten Island, New York, 10309",-2.220044,-0.171596,Detached,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2769,2769,"159 WEINER STREET, Staten Island, New York, 10309",-0.467589,2.447546,Detached,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2770,2770,"25 MEADE LOOP, Staten Island, New York, 10309",-0.467589,0.521706,Detached,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2771,2771,"35 MEADE LOOP, Staten Island, New York, 10309",-0.467589,0.521706,Detached,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
2772,2772,"45 MEADE LOOP, Staten Island, New York, 10309",-0.467589,0.136538,Detached,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
2773,2773,"55 MEADE LOOP, Staten Island, New York, 10309",-0.467589,0.521706,Detached,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2774,2774,"65 MEADE LOOP, Staten Island, New York, 10309",-0.467589,0.136538,Detached,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1

In [7]:
df.columns

Index([u'Unnamed: 0', u'Address_lookup', u'GT_story', u'GT_frontage',
       u'GT_proximity', u'GT_Bldg_Class_A1', u'GT_Bldg_Class_A2',
       u'GT_Bldg_Class_A3', u'GT_Bldg_Class_A5', u'GT_Bldg_Class_A6',
       u'GT_Bldg_Class_A9', u'GT_Bldg_Class_B1', u'GT_Bldg_Class_B2',
       u'GT_Bldg_Class_B3', u'GT_Bldg_Class_B9', u'GT_Bldg_Class_C0',
       u'GT_Bldg_Class_S1(OFFICE)', u'GT_Style_2.0', u'GT_Style_3.0',
       u'GT_Style_4.0', u'GT_Style_6.0', u'GT_Style_7.0', u'GT_Style_8.0',
       u'GT_Style_9.0', u'GT_Style_10.0', u'GT_Style_11.0', u'GT_Style_13.0',
       u'GT_Style_14.0', u'GT_wall_2.0', u'GT_wall_3.0', u'GT_wall_4.0',
       u'GT_wall_5.0', u'GT_wall_6.0', u'GT_wall_7.0', u'GT_wall_8.0',
       u'GT_wall_9.0', u'GT_cond_1', u'GT_cond_2', u'GT_cond_3', u'GT_cond_4',
       u'GT_cond_5', u'GT_cond_6', u'GT_cond_N', u'GT_grade_A', u'GT_grade_A+',
       u'GT_grade_A-', u'GT_grade_B', u'GT_grade_B+', u'GT_grade_B-',
       u'GT_grade_C', u'GT_grade_C+', u'GT_grade_C-', u'GT_grade_D',
       u'GT_grade_E', u'GT_grade_X', u'GT_basement_2', u'GT_basement_3'],
      dtype='object')

In [8]:
list(df.columns.values)

['Unnamed: 0',
 'Address_lookup',
 'GT_story',
 'GT_frontage',
 'GT_proximity',
 'GT_Bldg_Class_A1',
 'GT_Bldg_Class_A2',
 'GT_Bldg_Class_A3',
 'GT_Bldg_Class_A5',
 'GT_Bldg_Class_A6',
 'GT_Bldg_Class_A9',
 'GT_Bldg_Class_B1',
 'GT_Bldg_Class_B2',
 'GT_Bldg_Class_B3',
 'GT_Bldg_Class_B9',
 'GT_Bldg_Class_C0',
 'GT_Bldg_Class_S1(OFFICE)',
 'GT_Style_2.0',
 'GT_Style_3.0',
 'GT_Style_4.0',
 'GT_Style_6.0',
 'GT_Style_7.0',
 'GT_Style_8.0',
 'GT_Style_9.0',
 'GT_Style_10.0',
 'GT_Style_11.0',
 'GT_Style_13.0',
 'GT_Style_14.0',
 'GT_wall_2.0',
 'GT_wall_3.0',
 'GT_wall_4.0',
 'GT_wall_5.0',
 'GT_wall_6.0',
 'GT_wall_7.0',
 'GT_wall_8.0',
 'GT_wall_9.0',
 'GT_cond_1',
 'GT_cond_2',
 'GT_cond_3',
 'GT_cond_4',
 'GT_cond_5',
 'GT_cond_6',
 'GT_cond_N',
 'GT_grade_A',
 'GT_grade_A+',
 'GT_grade_A-',
 'GT_grade_B',
 'GT_grade_B+',
 'GT_grade_B-',
 'GT_grade_C',
 'GT_grade_C+',
 'GT_grade_C-',
 'GT_grade_D',
 'GT_grade_E',
 'GT_grade_X',
 'GT_basement_2',
 'GT_basement_3']

In [10]:
df = df[['Unnamed: 0',
 'Address_lookup',
 'GT_story',
 'GT_frontage',
 'GT_Bldg_Class_A1',
 'GT_Bldg_Class_A2',
 'GT_Bldg_Class_A3',
 'GT_Bldg_Class_A5',
 'GT_Bldg_Class_A6',
 'GT_Bldg_Class_A9',
 'GT_Bldg_Class_B1',
 'GT_Bldg_Class_B2',
 'GT_Bldg_Class_B3',
 'GT_Bldg_Class_B9',
 'GT_Bldg_Class_C0',
 'GT_Bldg_Class_S1(OFFICE)',
 'GT_Style_2.0',
 'GT_Style_3.0',
 'GT_Style_4.0',
 'GT_Style_6.0',
 'GT_Style_7.0',
 'GT_Style_8.0',
 'GT_Style_9.0',
 'GT_Style_10.0',
 'GT_Style_11.0',
 'GT_Style_13.0',
 'GT_Style_14.0',
 'GT_wall_2.0',
 'GT_wall_3.0',
 'GT_wall_4.0',
 'GT_wall_5.0',
 'GT_wall_6.0',
 'GT_wall_7.0',
 'GT_wall_8.0',
 'GT_wall_9.0',
 'GT_cond_1',
 'GT_cond_2',
 'GT_cond_3',
 'GT_cond_4',
 'GT_cond_5',
 'GT_cond_6',
 'GT_cond_N',
 'GT_grade_A',
 'GT_grade_A+',
 'GT_grade_A-',
 'GT_grade_B',
 'GT_grade_B+',
 'GT_grade_B-',
 'GT_grade_C',
 'GT_grade_C+',
 'GT_grade_C-',
 'GT_grade_D',
 'GT_grade_E',
 'GT_grade_X',
 'GT_basement_2',
 'GT_basement_3',
          'GT_proximity']]

In [11]:
df.head()

,Unnamed: 0,Address_lookup,GT_story,GT_frontage,GT_Bldg_Class_A1,GT_Bldg_Class_A2,GT_Bldg_Class_A3,GT_Bldg_Class_A5,GT_Bldg_Class_A6,GT_Bldg_Class_A9,...,GT_grade_B-,GT_grade_C,GT_grade_C+,GT_grade_C-,GT_grade_D,GT_grade_E,GT_grade_X,GT_basement_2,GT_basement_3,GT_proximity
0,0,"193 MANHATTAN STREET, Staten Island, New York,...",-2.220044,-0.325663,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,Detached
1,1,"189 MANHATTAN STREET, Staten Island, New York,...",-2.220044,-0.325663,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,Detached
2,2,"181 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.325663,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,Detached
3,3,"179 MANHATTAN STREET, Staten Island, New York,...",-0.467589,-0.556764,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Detached
4,4,"175 MANHATTAN STREET, Staten Island, New York,...",-0.467589,0.136538,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Detached

In [ ]:
df.dropna(axis=0, how='any').shape

In [ ]:
df_clean = df.dropna(axis=0, how='any')

In [ ]:
# use all the other codes to predict the ground truth proximity
# 2, 8 are excluded for testing 
X = df_clean.iloc[:, [2, 3, 4, 5, 6, 7, 8, 10]]

y = df_clean.iloc[:, 9]

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
X.isnull().any()

In [ ]:
X.dropna(axis=0, how='any').shape

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,2:-1], df.iloc[:, -1], test_size = 0.3, random_state = 999)

In [ ]:
OS=[]
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,2:-2], df.iloc[:,-2:], test_size = 0.3, random_state = i)    
    dt = DecisionTreeClassifier()
    dt.fit(X_train,y_train)
    OS.append(dt.score(X_test,y_test))
print (np.mean(OS))

In [13]:
param_grid ={'max_depth':range(1,11)}
rf = RandomForestClassifier(n_estimators=100)
gr = GridSearchCV(rf, param_grid=param_grid)
rs = gr.fit(X_train, y_train)
print ('Best parameter value:',rs.best_params_)
y_predict = rs.predict(X_test)
print('Accuracy = ',(pd.Series((y_predict == y_test)).value_counts(normalize=True)[True]))

('Best parameter value:', {'max_depth': 8})
('Accuracy = ', 0.92788461538461542)

In [ ]:
print(y_predict)